*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit
}

img {
  display: block;
  max-width: 100%;
}

body {
  background-color: #161b30;
  height: 100%;
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 1.8rem;
  align-items: center;
}

.header__container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: flex-start;
  background-color: #161b30;
}

/* NAVBAR SECTION */

.logo {
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  height: 96px;
  width: 100px;
}

.nav {
  font-family: 'Poppins', sans-serif;
  font-size: 1rem;
  align-items: flex-start;
  width: 100%;
  display: none;
  background-color: #161b30;
  color: white;
  font-weight: bold;
  flex-direction: column;

}

.nav__list {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.nav__item {
  text-align: center;
  padding: .5rem 1rem;
}

.nav__toggle {
  position: absolute;
  top: 1.8rem;
  right: 1.7rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 1.9rem;
  height: 1.7rem;
  background: url("/images/menu_white.png");
  background-repeat: no-repeat;
  border: 0;
}

.nav__toggle.active {
  background: url("/images/close_menu_white.png");
}

.nav.active {
  display: flex;
  justify-content: center;
}

@media (min-width: 768px) {
  .header__container {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    background-color: #161b30;
  }
  .nav__list {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 100%;

  }
  .nav__toggle {
    display: none;
  }
  .nav {
    display: flex;
    justify-content: center;
    width: auto;
    margin: 0;
  }
  .nav__item {
    text-align: center;
    padding: 1.5rem;
  }
}

/* TYPEWRITER ANIMATION */

.section__welcome {
  padding: 1rem 0;
}

.welcome {
  display: flex;
  justify-content: center;
}

h1 {
  font-size: 2rem;
  color: white;
  font-family: 'Source Code Pro', monospace;
}

span {
  border-right: .05em solid;
  border-width: 1.5rem;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

/* WELCOME MESSAGE */

.section__intro {
display: flex;
flex-direction: column;
align-items: center;
}

.section__intro p {
  color: white;
  font-size: 37px;
}

.dev_icon {
  margin-top: 1rem;
  height: 113px;
  width: 113px;
}

.section__title {
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 47px;
  margin-bottom: .5rem;
}

.section__title__div {
  width: 100%;
  background-color: #ED7B6A;
  display: flex;
  justify-content: center;
}

.section__subtitle {
  align-items: center;
  justify-content: center;
  font-size: 100px;
  letter-spacing: 2.7px;
}

@media (min-width: 768px) {
  .dev_icon {
    height: 313px;
    width: 313px;
  }
  .section__intro {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
  }
}